/* Mantén la configuración previa */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Agrega BlackerProDisplay */
@font-face {
  font-family: 'BlackerProDisplay';
  src: url('/fonts/BlackerDisplayMediumItalic.ttf') format('ttf');
  font-style: italic;
}

/* Asegúrate de que Inter sigue funcionando */
body {
  @apply font-sans;
  color: #212121; /* Set default text color */
}

.layout-container {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px; /* Optional: Add padding for mobile */
  padding-right: 16px; /* Optional: Add padding for mobile */
}

@keyframes highlight {
  from {
    background-color: transparent;
  }
  to {
    background-color: #ea4c89; /* Accent color */
  }
}

@keyframes highlight-left-to-right {
  from {
    background-size: 0% 100%;
  }
  to {
    background-size: 100% 100%;
  }
}

.highlight-text span {
  display: inline-block;
  transition: background-color 0.5s ease;
  background-color: transparent;
}

.highlight-text {
  display: inline;
  background-image: linear-gradient(to right, #ffdfeb 0%, #ffdfeb 100%);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  transition: background-size 1s ease-in-out;
}

.highlight-text.active {
  animation: highlight-left-to-right 1s forwards;
}

/* Override for BodyMedium and BodyLarge */
.body-medium {
  color: #575655;
}

.body-large {
  color: #575655;
}
