/* Mantén la configuración previa */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Agrega BlackerProDisplay */
@font-face {
  font-family: "BlackerProDisplay";
  src: url("/fonts/BlackerDisplayMediumItalic.ttf") format("ttf");
  font-style: italic;
}

/* Asegúrate de que Inter sigue funcionando */
body {
  @apply font-sans;
}

.layout-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 80px;
}